<div class="homepage">
  <!-- Header with logo and buttons -->
  <header class="header">
    <div class="logo">
      <img src="assets/logoPeaceApp%202.png" alt="Peace App Logo">
    </div>
    <div class="auth-buttons">
      <button class="login-btn" [routerLink]="['/login']">Iniciar Sesión</button>
      <button class="register-btn" [routerLink]="['/register']">Registrarse</button>
    </div>
  </header>

  <!-- Main section with the background image and text -->
  <section class="main-section">
    <div class="main-content">
      <div class="title-box">
        <h1>Tu aplicación de seguridad</h1>
      </div>
    </div>
  </section>

  <!-- Footer with startup information -->
  <footer class="footer">
    <p>Acerca de Nosotros</p>
    <p>Somos una startup y nos comprometemos a proporcionar un entorno seguro para nuestros usuarios</p>
    <p>PeaceApp Todos los derechos reservados</p>
  </footer>
</div>
